{{ 'section-our-team.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding our-team"
     id="our-team-{{ section.id }}"
     data-id="{{ section.id }}"
>
    <div class="page-width">
        <div class="section-title">
            {%- if section.settings.caption != blank -%}
                <h6 class="caption">{{ section.settings.caption }}</h6>
            {%- endif -%}
            {%- if section.settings.title != blank -%}
                <h3 class="title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    {{ section.settings.title }}
                </h3>
            {%- endif -%}
            {%- if section.settings.description != blank -%}
                <div class="description">{{ section.settings.description }}</div>
            {%- endif -%}
        </div>
        <div class="section-content">
            <div class="our-team-wrapper">
                <ul class="member-list grid--{{ section.settings.columns }}-col">
                    {%- for block in section.blocks -%}
                        <li>
                            {%- if block.settings.image != blank -%}
                                <div class="member-photo{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
                                    {{
                                    block.settings.image
                                    | image_url: width: 3840
                                    | image_tag:
                                    width: block.settings.image.width,
                                    sizes: '(min-width: 750px) 60vw, 120vw',
                                    widths: '238, 476',
                                    fetchpriority: 'high'
                                    }}
                                </div>
                            {% endif %}
                            <div class="member-info">
                                <h5 class="name">{{ block.settings.name }}</h5>
                                <p class="level">{{ block.settings.level }}</p>
                                {% if block.settings.show_socials %}
                                    <ul class="social-lists">
                                        {% if block.settings.fb_url != blank %}
                                            <li><a href="{{ block.settings.fb_url }}"><i class="fab fa-facebook"></i></a></li>
                                        {% endif %}
                                        {% if block.settings.ig_url != blank %}
                                            <li><a href="{{ block.settings.ig_url }}"><i class="fab fa-instagram"></i></a></li>
                                        {% endif %}
                                        {% if block.settings.twitter_url != blank %}
                                            <li><a href="{{ block.settings.twitter_url }}"><i class="fab fa-twitter"></i></a></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </div>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.our-team.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.our-team.settings.title.default",
      "label": "t:sections.our-team.settings.title.label"
    },
    {
      "type": "inline_richtext",
      "id": "caption",
      "default": "t:sections.our-team.settings.caption.default",
      "label": "t:sections.our-team.settings.caption.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.our-team.settings.description.label"
    },
    {
      "type": "range",
      "id": "columns",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4,
      "label": "t:sections.our-team.settings.columns.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "member",
      "name": "Member",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "name",
          "default": "t:sections.our-team.blocks.member.settings.name.default",
          "label": "t:sections.our-team.blocks.member.settings.name.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.our-team.blocks.member.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "level",
          "label": "t:sections.our-team.blocks.member.settings.level.label",
          "default": "t:sections.our-team.blocks.member.settings.level.default"
        },
        {
          "type": "checkbox",
          "id": "show_socials",
          "default": true,
          "label": "t:sections.our-team.blocks.member.settings.show_socials.label"
        },
        {
          "type": "inline_richtext",
          "id": "fb_url",
          "label": "t:sections.our-team.blocks.member.settings.fb_url.label",
          "default": "https://www.facebook.com/"
        },
        {
          "type": "inline_richtext",
          "id": "ig_url",
          "label": "t:sections.our-team.blocks.member.settings.ig_url.label",
          "default": "https://www.instagram.com/"
        },
        {
          "type": "inline_richtext",
          "id": "twitter_url",
          "label": "t:sections.our-team.blocks.member.settings.twitter_url.label",
          "default": "https://twitter.com/"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.our-team.presets.name"
    }
  ]
}
{% endschema %}